name: Deploy test
on:
  push:
    branches:
      - test

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Subfolder
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          target-folder: test
          branch: main # זה ידחוף את התיקייה לתוך ה-main שלך
